#top {
  margin: 50px;
  padding-bottom: 25px;
}

.time {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.header,
#quiz,
#finalScoreContainer {
  text-align: center;
  margin: 50px;
}

.header h1,
.header h2 {
  padding-bottom: 20px;
}

.header h2 {
  font-size: 20px;
}

#question {
  padding-bottom: 20px;
}

#startButton,
#btn0,
#btn1,
#btn2,
#btn3 {
  width: 250px;
  font-size: 20px;
  margin: 10px 40px;
  padding: 10px 10px;
}

#correctCheck {
  color: green;
  font-weight: bold;
}

#incorrectCheck {
  color: red;
  font-weight: bold;
}

ul,
li {
  list-style: none;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(192, 192, 192);
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  font-size: 1em;
}
